%section#feature.section-padding
  .container
    .row
      .col-md-6
        .section-title
          %h2.head-titl= @doc.title
          %hr.botm-line
          %p= @doc.content
          = link_to "Download", @doc.archive.url, class:"btn btn-default"
          %br
          %br
          = link_to "All Docs", docs_path, class:"btn btn-primary"
          = link_to "Edit Doc", edit_doc_path(@doc), class:"btn btn-warning"
          = link_to "Delete", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-danger"
