<section id="feature" class="section-padding">
    <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="section-title">
                <h2 class="head-title">Log in</h2>
                <hr class="botm-line">
            </div>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
</section>
